/*google font link for stylesheet*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/*font family*/
.quicksand-font-family {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

/*shared related style*/
.primary-color {
    color: rgba(254, 163, 1, 1);
}

.secondary-color {
    color: rgba(1, 172, 253, 1);
}

.third-colr {
    color: rgba(5, 212, 223, 1);
}

.forth-color {
    color: rgba(93, 88, 239, 1);
}

.display-flex {
    display: flex;
}

.text-decoration {
    text-decoration: none;
}

.font-style {
    color: #000000;
    font-weight: 700;
}


.header {
    max-width: 1160px;
    margin: 0 auto;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}



.logo-container {
    align-items: center;
    gap: 10px;

}

.logo {
    width: 100%;
    height: auto;
}

.logo-title {
    font-size: 1.5rem;
}

.nav ul li {
    list-style: none;
    margin: 0 20px;
}

.nav ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
}

.icon {
    display: none;
}

.btn {
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: rgba(254, 163, 1, 1);
}


/*media query for mobile device*/
@media screen and (max-width: 800px) {


    .nav {
        display: none;
    }

    .btn-container {
        display: none;

    }

    .icon {
        display: block;
    }
}