/*google font link for stylesheet*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/*font family*/
.quicksand-font-family {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

/*shared related style*/
.primary-color {
    color: rgba(254, 163, 1, 1);
}

.secondary-color {
    color: rgba(1, 172, 253, 1);
}

.third-colr {
    color: rgba(5, 212, 223, 1);
}

.forth-color {
    color: rgba(93, 88, 239, 1);
}

.display-flex {
    display: flex;
}

.text-decoration {
    text-decoration: none;
}


.font-style {
    color: #000000;
    font-weight: 700;
}

/*header section*/
.header {
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
}


/*navbar related style*/
.navbar {
    justify-content: space-between;
    align-items: center;

}



.logo-container {
    align-items: center;
    gap: 10px;

}

.logo {
    width: 100%;
    height: auto;
}

.logo-title {
    font-size: 1.5rem;
}

.nav ul li {
    list-style: none;
    margin: 0 20px;
}

.nav ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
}

.icon {
    display: none;
}

.btn {
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: rgba(254, 163, 1, 1);
}


/*banner section*/
.banner-section {
    align-items: center;
    justify-content: space-between;
}


.banner-content {
    width: 50%;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 30px;
    line-height: 65px;
}

.description {
    font-size: 1.1rem;
    font-weight: 400;
    color: #000000;
    margin-bottom: 30px;
}

.banner-btn button {
    background-color: #000000;
}


.img-container img {
    width: 100%;
    height: auto;
}

/*media query for mobile device*/
@media screen and (max-width: 576px) {

    /*navbar section*/
    .nav {
        display: none;
    }

    .btn-container {
        display: none;

    }

    .icon {
        display: block;
    }

    /*banner section*/
    .banner-section {
        flex-direction: column-reverse;
        gap: 20px;
        padding: 0 20px;
    }

    .banner-content {
        text-align: center;
        width: 100%;
    }

    .banner-title {
        font-size: 2.2rem;
        line-height: 45px;
    }

    .description {
        font-size: 0.7rem;
        padding: 0 40px;
        margin-bottom: 30px;
    }
}