/*google font link for stylesheet*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/*font family*/
.quicksand-font-family {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

/*shared related style*/
.primary-color {
    color: rgba(254, 163, 1, 1);
}

.secondary-color {
    color: rgba(1, 172, 253, 1);
}

.third-colr {
    color: rgba(5, 212, 223, 1);
}

.forth-color {
    color: rgba(93, 88, 239, 1);
}

.display-flex {
    display: flex;
}

.default-margin {
    margin-bottom: 100px;
}

.text-decoration {
    text-decoration: none;
}


.font-style {
    color: #000000;
    font-weight: 700;
}


/*header section*/
.header,
.standard-section-container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;

}


/*navbar related style*/
.navbar {
    justify-content: space-between;
    align-items: center;

}



.logo-container {
    align-items: center;
    gap: 10px;

}

.logo {
    width: 100%;
    height: auto;
}

.logo-title {
    font-size: 1.5rem;
}

.nav ul li {
    list-style: none;
    margin: 0 20px;
}

.nav ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
}

.icon {
    display: none;
}

.btn {
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: rgba(254, 163, 1, 1);
    cursor: pointer;
}


/*banner section*/
.banner-section {
    align-items: center;
    justify-content: space-between;
}


.banner-content {
    width: 50%;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 80px;
    line-height: 65px;

}

.description {
    font-size: 1.1rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 30px;
}

.banner-btn button {
    background-color: #000000;
}


.img-container img {
    width: 100%;
    height: auto;
}

/*first section related style*/
.first-section {
    background: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-container {
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.child-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 50px 40px;
    max-width: 370px;
    border-radius: 20px;
    height: 400px;
}

.card-img {
    width: 140px;
    height: 140px;
}

.first-card {
    background: linear-gradient(180deg, rgba(222, 245, 255, 1), rgba(255, 255, 255, 1));
    border: 1px solid rgba(222, 245, 255, 1);
}

.second-card {
    background: linear-gradient(180deg, rgba(255, 244, 220, 1), rgba(255, 255, 255, 1));
    border: 1px solid rgba(255, 244, 220, 1);
}

.third-card {
    background: linear-gradient(180deg, rgba(242, 232, 255, 1), rgba(255, 255, 255, 1));
    border: 1px solid rgba(242, 232, 255, 1);
}

.standard-title {
    font-size: 2.875rem;
    margin-top: 50px;
    text-align: center;
}

.card-container-titile {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(32, 32, 32, 1);
}

.card-description {
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
}

.card-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

.card-link {
    font-size: 0.9rem;
    font-weight: 700;
}

.first-link {
    color: rgba(100, 200, 255, 1);
}

.second-link {
    color: rgba(240, 170, 0, 1);
}

.third-link {
    color: rgba(135, 0, 255, 1);
}


.tow-side-arrow {
    width: 150px;
    margin: 90px auto 0;
    justify-content: space-between;
    align-items: center;
}


/*media query for mobile device*/
@media screen and (max-width: 576px) {

    /*navbar section*/
    .nav {
        display: none;
    }

    .btn-container {
        display: none;

    }

    .icon {
        display: block;
    }

    /*banner section*/
    .banner-section {
        flex-direction: column-reverse;
        gap: 20px;

    }

    .banner-content {
        text-align: center;
        width: 100%;
    }

    .banner-title {
        font-size: 2.2rem;
        line-height: 45px;
        margin-bottom: 30px;
    }

    .description {
        font-size: 0.875rem;
        padding: 0 40px;
        margin-bottom: 30px;
    }


    /*first section*/
    .card-container {
        flex-direction: column;
        gap: 30px;
    }

    .tow-side-arrow {
        display: none;
    }
}